{% extends 'base.html.twig' %}

{% block title %}Parking List {% endblock %}

{% block body %}

<div class="row mt-3">
    <div class="col-12 text-center">
        <h1>Ajouter un parking</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <a href="{{path('parking_list')}}">
            <button class="btn btn-info">Page Précédente</button>
        </a>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <div class="form-group w-100">
            {{form_start(form, {'attr' : {'class':'w-100'}}) }}

            {{form_widget(form)}}

            <button class="btn btn-success">Add Parking</button>
            {{form_end(form)}}
        </div>

    </div>
</div>





{% endblock %}