{% extends 'base.html.twig' %}

{% block title %}Parking List {% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1 class="text-center mb-3 mt-3">Liste des parkings</h1>

    </div>
</div>

<div class="row text-center">
    <div class="col-12  ">
        <a href="{{path('add_parking')}}">
            <button class="btn btn-info w-25 ">Ajouter un parking</button>
        </a>
    </div>
</div>
<div class="row justify-content-center mt-3">
    {% for parking in parkings %}
    <div class="card mb-2 mr-2" style="width: 18rem;">
        <div class="card-body">
            <a href="{{path('one_parking', {id:parking.id})}}">
                <h5 class="card-title"> {{parking.name}}</h5>
            </a>
            <p class="card-text"> <strong>Adresse : </strong> {{parking.adress}} {{parking.postcode}}
                {{parking.country}}</p>
            <p class="card-text"> <strong>Géolocalisation : </strong> {{parking.longitude}} {{parking.latitude}}
            </p>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}