{% extends 'base.html.twig' %}

{% block title %}{{parking.name}} {% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <a href="{{path('parking_list')}}">
            <button class="btn btn-info mt-3">Page Précédente</button>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <h1 class="text-center">{{parking.name}}</h1>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h2>Informations générales</h2>
    </div>
</div>

<div class="row w-100">
    <div class="col-12 w-100">
        <div class="card w-100" style="width: 18rem;">
            <div class="card-body">
              <p class="card-text"><strong>Nom : </strong> {{parking.name}}</p>
              <p class="card-text"><strong>Adresse : </strong>{{parking.adress}}</p>
              <p class="card-text"><strong>Code Postal : </strong>{{parking.postcode}}</p>
              <p class="card-text"><strong>Pays : </strong>{{parking.country}}</p>
              <p class="card-text"><strong>Longitude : </strong>{{parking.longitude}}</p>
              <p class="card-text"><strong>Latitude : </strong>{{parking.latitude}}</p>
            </div>
          </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <h2>Véhicules dans le parking</h2>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <table class="table mt-3">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Marque</th>
                <th scope="col">Modèle</th>
                <th scope="col">Emplacement</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>
    </div>
</div>

{% endblock %}